

<%= render partial: "layouts/common/flash_message", :class => 'alert alert-#{key}' %>
<div class="center jumbotron" id="demo1">
 <h1>Private Events</h1>
 <h2>
   A private event hosting app built for
   <a href="http://www.theodinproject.com/"></a>.
 </h2>
   
     <%= link_to "signup", user_new_path,
                                     class: "btn btn-lg btn-primary" %>
   <% else %>
     <%= link_to "login", new_login_path,
                                 class: "btn btn-lg btn-primary" %>
  
</div>